/*-------------------
        RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
       GENERAL
-------------------*/
header {
        background-color: lightblue;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
}

main { 
       display: flex;
       flex-direction: column;        
}

footer {display: flex;
        border:2px solid white;
        color: white;
        padding: 20px 0 0 0;
}

/*-------------------
      UTILITIES
-------------------*/
.container {
            max-width: 1180px;
            margin: 0 auto;          
}

.layout_sect { display:flex;
               align-items: center;
               justify-content: center;
               height: 500px;
               padding: 25px 0;      
}

/*-------------------
      WRAPS
-------------------*/
.blue_wrap{
           background-color: blue;         
}

.gray_wrap{
           background-color: gray;
}

.black_wrap{
    background-color: black;
}

.aquamarine_wrap {
    background-color: aquamarine;
}

/*-------------------
       HEADER
-------------------*/

.nav  {
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 100%;
       height: 50px;
       border: 2px dashed black;
}

.login {
        display: flex;
        justify-content: end;
}

.link {
       display: flex;
       justify-content: center;
}

header > div {
              background-color: yellow;
}

/*-------------------
    FIRST SECTION
-------------------*/  

.purple_square { 
                width: 40%;
                height: 100%;
                background-color: purple;
}
               
/*-------------------
   MULTIPLE SECTION
-------------------*/

.blue_square {
              height: 100%;
              width: 70%;
              background-color: lightblue;             
}
  
.pink_square {
              height: 100%;
              width: 30%; 
              background-color: pink;           
}

/*-------------------
FIFTH SECTION (BIG)
-------------------*/
 
.green_square {
               height: 100%;
               width: 100%;
               background-color: green; 
                                                      
}

/*-------------------
   SIXTH SECTION 
-------------------*/

.coral_square{
              background-color: coral;
              width: calc(100%/3);
              height: 100%;
}
.l_green_square{
                   background-color: lightgreen;
                   width: calc(100%/6);
                   height: 100%;
 }
 
/*-------------------
       FOOTER
-------------------*/

footer > div {margin-top:10px;}
              

.foot_buttons {background-color: pink;
               color: red;
               padding: 6px;}